{
  :source-paths ["src" "cli"]
  :cache-blockers #{cumulo-util.build}
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [mvc-works/polyfill "0.1.1"]
    [mvc-works/keycode "0.1.3"]
    [mvc-works/shell-page "0.1.15"]
    [mvc-works/ws-edn "0.1.4"]
    [respo "0.13.10"]
    [respo/ui "0.3.16"]
    [respo/markdown "0.2.6"]
    [respo/alerts "0.5.5"]
    [respo/feather "0.1.1"]
    [cumulo/recollect "0.6.3"]
    [cumulo/util "0.1.12"]
    [cirru/sepal "0.2.9"]
    [cirru/writer "0.1.13"]
    [cirru/bisection-key "0.1.6"]
    [cirru/edn "0.0.11-a1"]
    [cirru/flavored-edn "0.1.4"]
    [medley "1.3.0"]
    [applied-science/js-interop "0.2.7"]
    [org.clojure/core.incubator "0.1.4"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :client {
      :output-dir "target/", :asset-path "./", :target :browser
      :modules {
        :client {:init-fn app.client/main!}
      }
      :devtools {:after-load app.client/reload!}
      :release {
        :output-dir "dist/", :module-hash-names 8
        :build-options {:manifest-name "assets.edn"}
      }
    }
    :server {
      :target :node-script, :output-to "target/server.js", :main app.server/main!
      :devtools {
        :after-load app.server/reload!, :build-notify cumulo-util.build-info/on-build!
        :preloads [cumulo-util.build-info]
      }
      :compiler-options {:infer-externs :auto}
      :release {:output-to "dist/server.js"}
    }
    :page {
      :target :node-script, :output-to "target/page.js", :main app.page/main!
      :devtools {:after-load app.page/main!}
    }
  }
}