
{:source-paths ["src" "cli"]
 :repositories {"central" {:url "http://maven.aliyun.com/nexus/content/groups/public/"}
                "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}}
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/polyfill     "0.1.1"]
                [mvc-works/verbosely    "0.1.2"]
                [mvc-works/keycode      "0.1.3"]
                [mvc-works/shell-page   "0.1.8"]
                [respo                  "0.8.21"]
                [respo/ui               "0.3.7"]
                [respo/markdown         "0.2.1"]
                [respo/alerts           "0.3.7"]
                [cumulo/recollect       "0.4.4"]
                [fipp                   "0.6.12"]
                [cirru/sepal            "0.2.7"]
                [cirru/bisection-key    "0.1.5"]
                [cirru/favored-edn      "0.1.1"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:client {:output-dir "target/"
                   :asset-path "./"
                   :target :browser
                   :modules {:client {:entries [app.client]}}
                   :devtools {:after-load app.client/reload!
                              :http-root "target"
                              :http-port 7000
                              :loader-mode :eval}
                   :release {:output-dir "dist/"
                             :module-hash-names 8
                             :build-options {:manifest-name "assets.edn"}}}
          :page {:target :node-script
                 :output-to "target/page.js"
                 :main app.page/main!
                 :devtools {:after-load app.page/main!}}
          :server {:target :node-script
                   :output-to "target/server.js"
                   :main app.server/main!
                   :devtools {:after-load app.server/reload!}
                   :compiler-options {:infer-externs :auto}
                   :release {:output-to "dist/server.js"}}}}
