
{:source-paths ["src" "cli"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/polyfill     "0.1.1"]
                [mvc-works/keycode      "0.1.3"]
                [mvc-works/shell-page   "0.1.10"]
                [mvc-works/ws-edn       "0.1.3"]
                [respo                  "0.10.11"]
                [respo/ui               "0.3.10"]
                [respo/markdown         "0.2.4"]
                [respo/alerts           "0.3.11"]
                [respo/feather          "0.1.1"]
                [cumulo/recollect       "0.5.0"]
                [cumulo/util            "0.1.7"]
                [fipp                   "0.6.18"]
                [cirru/sepal            "0.2.7"]
                [cirru/bisection-key    "0.1.5"]
                [cirru/favored-edn      "0.1.1"]
                [org.clojure/core.incubator "0.1.4"]]
 :repositories {"central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
                "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}}
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :dev-http {7000 "target/"}
 :builds {:client {:output-dir "target/"
                   :asset-path "./"
                   :target :browser
                   :modules {:client {:init-fn app.client/main!}}
                   :devtools {:after-load app.client/reload!}
                   :release {:output-dir "dist/"
                             :module-hash-names 8
                             :build-options {:manifest-name "assets.edn"}}}
          :server {:target :node-script
                   :output-to "target/server.js"
                   :main app.server/main!
                   :devtools {:after-load app.server/reload!}
                   :compiler-options {:infer-externs :auto}
                   :release {:output-to "dist/server.js"}}
          :page {:target :node-script
                 :output-to "target/page.js"
                 :main app.page/main!
                 :devtools {:after-load app.page/main!}}
          :upload {:target :node-script
                   :output-to "target/upload.js"
                   :main app.upload/main!
                   :devtools {:after-load app.upload/main!}}}}
