
body {
  margin: 0;
  background-color: black;
  user-select: none;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  box-sizing: border-box;
}

.hoverable {
  background-color: hsla(0, 0%, 100%,0);
  cursor: pointer;
}
.hoverable:hover {
  background-color: hsla(0, 0%, 100%,0.15);
}
.hoverable.is-selected {
  background-color: hsla(0, 0%, 100%,0.2);
}

.is-minor {
  opacity: 0.5;
}
.is-minor:hover {
  opacity: 1;
}


.stack-bookmark:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.comp-about {
  color: #ccc;
  font-family: Hind;
  font-size: 14px;
  font-weight: 300;
}

.comp-about a {
  color: #aaf;
}

.comp-about pre {
   user-select: text;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%,0);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,0.3);
}

.copy-commands:active {
  background-color: hsla(0,0%,100%,0.3)
}