
{:source-paths ["src" "cli"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/polyfill     "0.1.1"]
                [mvc-works/verbosely    "0.1.2"]
                [mvc-works/keycode      "0.1.3"]
                [mvc-works/shell-page   "0.1.7"]
                [respo                  "0.8.16"]
                [respo/ui               "0.3.4"]
                [respo/markdown         "0.2.1"]
                [cumulo/recollect       "0.4.3"]
                [fipp                   "0.6.12"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:client {:output-dir "target/"
                   :asset-path "./"
                   :target :browser
                   :modules {:main {:entries [app.client]}}
                   :devtools {:after-load app.client/reload!
                              :preloads [shadow.cljs.devtools.client.hud]
                              :http-root "target"
                              :http-port 7000}
                   :release {:output-dir "dist/"
                             :module-hash-names 8
                             :build-options {:manifest-name "assets.edn"}}}
          :page {:target :node-script
                 :output-to "target/page.js"
                 :main app.page/main!
                 :devtools {:after-load app.page/main!}}}}
