
{:source-paths ["src" "cli"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/polyfill     "0.1.1"]
                [mvc-works/verbosely    "0.1.2"]
                [mvc-works/keycode      "0.1.3"]
                [mvc-works/shell-page   "0.1.7"]
                [respo                  "0.8.15"]
                [respo/ui               "0.3.2"]
                [respo/markdown         "0.1.8"]
                [cumulo/recollect       "0.4.3"]
                [fipp                   "0.6.12"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:browser {:output-dir "target/"
                    :asset-path "./"
                    :target :browser
                    :modules {:main {:entries [app.main]
                                     :depends-on #{:lib}}
                              :lib {:entries [respo.core respo.macros
                                              respo.comp.inspect]}}
                    :devtools {:after-load app.main/reload!
                               :preloads [shadow.cljs.devtools.client.hud]
                               :http-root "target"
                               :http-port 7000}
                    :release {:output-dir "dist/"
                              :module-hash-names 8
                              :build-options {:manifest-name "assets.edn"}}}
          :ssr {:target :node-script
                :output-to "target/ssr.js"
                :main app.render/main!
                :devtools {:after-load app.render/main!}}}}
