
{:source-paths ["src"],
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [fipp                   "0.6.12"]
                [cumulo/recollect       "0.4.1"]
                [mvc-works/verbosely    "0.1.1"]
                [cirru/sepal            "0.2.0"]
                [cirru/bisection-key    "0.1.2"]]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main server.main/main!
                :devtools {:after-load server.main/reload!}
                :release {:output-to "dist/main.js"}}}}
