
{:source-paths ["src"],
 :http {:port 9640}
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/verbosely    "0.1.2"]
                [cirru/sepal            "0.2.2"]
                [cirru/bisection-key    "0.1.4"]
                [cirru/favored-edn      "0.1.1"]
                [cumulo/recollect       "0.4.3"]]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main server.main/main!
                :devtools {:after-load server.main/reload!}
                :release {:output-to "dist/main.js"}}}}
