{:ir {:files {"main" {:ns {:type :expr,
                           :author "Bka0vFjNW",
                           :time 1499396275968,
                           :data {}},
                      :defs {"main!" {:type :expr,
                                      :author "Bka0vFjNW",
                                      :time 1499396283662,
                                      :data {"T" {:type :leaf,
                                                  :author "Bka0vFjNW",
                                                  :time 1499396293187,
                                                  :text "def"},
                                             "j" {:type :leaf,
                                                  :author "Bka0vFjNW",
                                                  :time 1499396294723,
                                                  :text "a"},
                                             "r" {:type :expr,
                                                  :author "Bka0vFjNW",
                                                  :time 1499396296099,
                                                  :data {"T" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396295683,
                                                              :text "x"},
                                                         "j" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396298021,
                                                              :text "y"}}},
                                             "v" {:type :expr,
                                                  :author "Bka0vFjNW",
                                                  :time 1499396300175,
                                                  :data {"T" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396300175,
                                                              :text "println"},
                                                         "j" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396301330,
                                                              :text "x"},
                                                         "r" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396302236,
                                                              :text "y"}}},
                                             "x" {:type :expr,
                                                  :author "Bka0vFjNW",
                                                  :time 1499396308203,
                                                  :data {"T" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396308203,
                                                              :text "def"},
                                                         "j" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396455351,
                                                              :text "a"},
                                                         "r" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396456609,
                                                              :text "println"},
                                                         "v" {:type :leaf,
                                                              :author "Bka0vFjNW",
                                                              :time 1499396457462,
                                                              :text "s"}}}}}},
                      :proc {:type :expr,
                             :author "Bka0vFjNW",
                             :time 1499396275968,
                             :data {}}}}},
 :sessions {},
 :users {"Bka0vFjNW" {:id "Bka0vFjNW",
                      :name "chen",
                      :nickname "chen",
                      :password "",
                      :avatar nil}}}
