{:sessions {}, :users {"B1BTN1qEZ" {:id "B1BTN1qEZ", :name "chen", :nickname "chen", :password "", :avatar nil}}, :ir {:pkg "app", :files {"app.main" {:ns {:data {"T" nil, "j" {:data {"T" {:data {"T" nil}}}}}}, :defs {"main!" {:type :expr, :author "B1BTN1qEZ", :time 1499269634173, :data {"T" {:type :leaf, :author "B1BTN1qEZ", :time 1499269929822, :text "", :data {"T" nil}}, "j" {:type :leaf, :author "B1BTN1qEZ", :time 1499272410589, :text ""}, "r" {:type :leaf, :author "B1BTN1qEZ", :time 1499272419695, :text ""}, "v" {:type :leaf, :author "B1BTN1qEZ", :time 1499272424987, :text ""}, "x" {:type :leaf, :author "B1BTN1qEZ", :time 1499272433887, :text ""}, "y" {:type :leaf, :author "B1BTN1qEZ", :time 1499272438925, :text ""}, "yT" {:type :leaf, :author "B1BTN1qEZ", :time 1499272572767, :text ""}}}}, :procs {}}, "app.comp.container" {:ns {}, :defs {}, :procs {}}}}}